<html ng-app>
  
  <head>
    <title>Adventskalender</title>
    <script src="static/jquery-1.8.2.min.js"></script>
    <script src="static/angular.min.js"></script>
    <script src="static/adventskalender.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/adventskalender.css" />
    <script type="text/javascript">
      // today will be inserted by adventskalender.py
      var today = %s;
    </script>
  </head>

  <body ng-controller="MainCtrl">
    <div id=wrapper>
      <div class="day" id="d{{day}}" ng-repeat="day in days" style="background-image: url(static/images/{{day}}.png)">
        {{day}}
      </div>
    </div>
  </body>

</html> 
