body { 
  background-color: white; 
  /*background-image: url(static/bg.jpg);*/
  padding: 10px; 
}

h1 {
  text-align: center;	
}

#d24 {
  /*background-color: goldenrod;*/
}

.day { 
  background-color: green; 
  color: white;

  background-position: center center;
  background-size: 80% auto; 

  background-repeat: no-repeat;

  float: left; 

  width: 200px;
  height: 200px; 

  padding: 10px;
  margin: 20px; 

  box-shadow: 5px 5px 10px black;
  /*opacity: 0.9; */
}
